@model RegistrationUserModel
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Registration.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <title>Success</title>
</head>

<body>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <h3 style="text-align: center">
                You have successfully registered! Click 
                    <a href='@Url.Action("Authentication", "Users")'>here</a>
                to authentication.
            </h3>

        </div>
    </main>
</body>
</html>
