@model List<PopularTagModel>
@{ 
    ViewData["Title"] = "Home";
    Layout = "_Layout";

}
<ul class="list-group list-group-flush">
    @foreach (var tag in Model)
    {
        <li class="list-group-item">@tag.Tag</li>
    }
</ul>

